    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="something">Hello</div>
        </div>
        <div class="col-xl-6">
          <div class="something">world</div>
        </div>
      </div>
    </div>


    <br><br>{{planner.wardName}}
    <br><br>{{planner.sacramentPassing}}
    <br><br>{{planner.wardBusiness}}
    <br><br>{{planner.presiding.firstName}} {{planner.presiding.lastName}} {{planner.presiding.memberTitle}}
    <br><br>{{planner.conducting.firstName}} {{planner.conducting.lastName}} {{planner.conducting.memberTitle}}
    <br><br>{{planner.openingHymn.hymnNumber}} {{planner.openingHymn.title}}
    <br><br>{{planner.invocation.firstName}} {{planner.invocation.lastName}} {{planner.invocation.memberTitle}}
    <br><br>{{planner.sacramentHymn.hymnNumber}} {{planner.sacramentHymn.title}}

    <!-- {{planner.talks}} -->

    <br><br>{{planner.musicalNumber.title}} {{planner.musicalNumber.performAfterTalk}}
    <br><br>{{planner.closingHymn.hymnNumber}} {{planner.closingHymn.title}}
    <br><br>{{planner.benediction.firstName}} {{planner.benediction.lastName}} {{planner.benediction.memberTitle}}
    <br><br>{{planner.dismissalSong.hymnNumber}} {{planner.dismissalSong.title}}
    <br><br>{{planner.sacramentDate  | date: "shortDate"}}
