<button class="btn btn-success" data-toggle="modal" data-target="#member-modal" data-backdrop="static"
  (click)="showModal()">Add</button>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="nameCells">Last Name</th>
        <th class="nameCells">First Name</th>
        <th>Member's Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{member.lastName}}</td>
        <td>{{member.firstName}}</td>
        <td>{{member.memberTitle}}</td>
        <td>
          <div class="action-icons">
            <fa-icon id="delete" [icon]="faTrashAlt" (click)="delete(member.id)"></fa-icon>
            <fa-icon id="edit" [icon]="faEdit" data-toggle="modal" data-target="#member-modal" data-backdrop="static"
              (click)="showModal(member)">
            </fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Create/Edit -->
<div class="modal fade" id="member-modal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel"
  aria-hidden="true" #modalForm>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MemberModalLabel" *ngIf="!editMode">Add Member</h5>
        <h5 class="modal-title" id="MemberModalLabel" *ngIf="editMode">Edit Member</h5>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Member first name</label>
          <input id="fName" type="text" class="form-control" placeholder="Enter member's first name" min="1" required
            #firstName [(ngModel)]="oneMember.firstName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Member's last name</label>
          <input id="lName" type="text" class="form-control" placeholder="Enter member's last name" min="1" required
            #lastName [(ngModel)]="oneMember.lastName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Member's title</label>
          <input id="mTitle" type="text" class="form-control" placeholder="Enter hymn title" minlength="3" required
            #memberTitle [(ngModel)]="oneMember.memberTitle">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="create({lastName: lastName.value, firstName: firstName.value,
          memberTitle: memberTitle.value}); hideModal()" *ngIf="!editMode">Save changes</button>
        <button type="button" class="btn btn-primary" (click)="edit(); hideModal()" *ngIf="editMode">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
