<button class="btn btn-success" data-toggle="modal" data-target="#member-modal" data-backdrop="static">Add</button>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Member's Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td class="nameCells">{{member.lastName}}</td>
        <td class="nameCells">{{member.firstName}}</td>
        <td>{{member.memberTitle}}</td>
        <td>
          <div class="action-icons">
            <fa-icon id="delete" [icon]="faTrashAlt" (click)="delete(member.id)"></fa-icon>
            <fa-icon id="edit" (click)="getId(member.id)" [icon]="faEdit" data-toggle="modal"
              data-target="#member-modal" data-backdrop="static">
            </fa-icon>
            <!-- <button class="btn btn-success" data-toggle="modal" data-target="#member-modal" data-backdrop="static">Add</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Create/Edit -->
<div class="modal fade" id="member-modal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel"
  aria-hidden="true" #modalForm>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MemberModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Member first name</label>
          <!-- <input type="text" class="form-control" placeholder="Enter member's first name" min="1" required #firstName> -->
          <input id="fName" type="text" class="form-control" placeholder="Enter member's first name" min="1" required
            #firstName="ngModel" [ngModel]="member?.firstName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Member's last name</label>
          <!-- <input type="text" class="form-control" placeholder="Enter member's last name" min="1" required #lastName> -->
          <input id="lName" type="text" class="form-control" placeholder="Enter member's last name" min="1" required
            #lastName="ngModel" [ngModel]="member?.lastName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Member's title</label>
          <!-- <input type="text" class="form-control" placeholder="Enter hymn title" minlength="3" required #memberTitle> -->
          <input id="mTitle" type="text" class="form-control" placeholder="Enter hymn title" minlength="3" required
            #memberTitle="ngModel" [ngModel]="member?.memberTitle">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="create({lastName: lastName.value, firstName: firstName.value,
          memberTitle: memberTitle.value}); hideModal()">Save changes</button>
      </div>
    </div>
  </div>
</div>
