<button class="btn btn-success" data-toggle="modal" data-target="#hymn-modal" data-backdrop="static"
  (click)="showModal()">Add</button>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th id="number-cell">#</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hymn of hymns">
        <td>{{hymn.hymnNumber}}</td>
        <td>{{hymn.title}}</td>
        <td>
          <div class="action-icons">
            <fa-icon id="delete" [icon]="faTrashAlt" (click)="delete(hymn.id)"></fa-icon>
            <fa-icon id="edit" [icon]="faEdit" data-toggle="modal" data-target="#hymn-modal" data-backdrop="static"
              (click)="showModal(hymn)">
            </fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Create/Edit -->
<div class="modal fade" id="hymn-modal" tabindex="-1" role="dialog" aria-labelledby="HymnModalLabel" aria-hidden="true"
  #modalForm>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="HymnModalLabel" *ngIf="!editMode">Add Hymn</h5>
        <h5 class="modal-title" id="HymnModalLabel" *ngIf="editMode">Edit Hymn</h5>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Hymn number</label>
          <input type="number" class="form-control" placeholder="Enter hymn number" min="1" required #hymnNumber
            [(ngModel)]="oneHymn.hymnNumber">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Hymn title</label>
          <input type="text" class="form-control" placeholder="Enter hymn title" required #hymnTitle
            [(ngModel)]="oneHymn.title">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="create({hymnNumber: hymnNumber.value,
          title: hymnTitle.value}); hideModal()" *ngIf="!editMode">Save changes</button>
        <button type="button" class="btn btn-primary" (click)="edit(); hideModal()" *ngIf="editMode">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
