<button class="btn btn-success" data-toggle="modal" data-target="#planner-modal" data-backdrop="static"
  (click)="showModal()">Add</button>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Presiding</th>
        <th>Conducting</th>
        <th>Opening Hymn</th>
        <th>Invocation</th>
        <!-- <th>Ward Business</th> -->
        <th>Sacrament Hymn</th>
        <!-- <th>Talks</th>
        <th>Musical Number</th> -->
        <th>Closing Hymn</th>
        <th>Benediction</th>
        <th>Sacrament Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planner of planners">
        <!-- PRESIDING -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.presiding.firstName}}</li>
            <li>{{planner.presiding.lastName}}</li>
            <li>{{planner.presiding.memberTitle}}</li>
          </ul>
        </td>
        <!-- CONDUCTING -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.conducting.firstName}}</li>
            <li>{{planner.conducting.lastName}}</li>
          </ul>
        </td>
        <!-- OPENING HYMN -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.openingHymn.title}}</li>
            <li>{{planner.openingHymn.hymnNumber}}</li>
          </ul>
        </td>
        <!-- INVOCATION -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.invocation.firstName}}</li>
            <li>{{planner.invocation.lastName}}</li>
          </ul>
        </td>
        <!-- WARD BUSINESS -->
        <!-- <td class="plannerCells">{{planner.wardBusiness}}</td> -->
        <!-- SACRAMENT HYMN -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.sacramentHymn.title}}</li>
            <li>{{planner.sacramentHymn.hymnNumber}}</li>
          </ul>
        </td>
        <!-- TALKS -->
        <!-- <td class="plannerCells">
          <td class="plannerCells">
          <ul *ngFor="let talk of planner.talks">
            <li>{{talk.talkTitle}}</li>
            <li>{{talk.speaker.firstName}}</li>
            <li>{{talk.speaker.lastName}}</li>
            <li>The time limit is {{talk.timeLimit}}</li>
          </ul>
        </td>
        MUSICAL NUMBER
        <td class="plannerCells">
          <ul>
            <li>{{planner.musicalNumber.title}}</li>
            <li>Perform after talk # {{planner.musicalNumber.performAfterTalk}}</li>
          </ul>
        </td> -->
        <!-- CLOSING HYMN -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.closingHymn.title}}</li>
            <li>{{planner.closingHymn.hymnNumber}}</li>
          </ul>
        </td>
        <!-- BENEDICTION -->
        <td class="plannerCells">
          <ul>
            <li>{{planner.benediction.firstName}}</li>
            <li>{{planner.benediction.lastName}}</li>
          </ul>
        </td>
        <!-- SACRAMENT DATE -->
        <td class="plannerCells">{{planner.sacramentDate | date :  "shortDate"}}</td>
        <td>
          <div class="action-icons">
            <fa-icon id="delete" [icon]="faTrashAlt" (click)="delete(planner.id)"></fa-icon>
            <fa-icon id="edit" [icon]="faEdit" data-toggle="modal" data-target="#planner-modal" data-backdrop="static"
              (click)="showModal(planner)">
            </fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Create/Edit -->
<div class="modal fade" id="planner-modal" tabindex="-1" role="dialog" aria-labelledby="plannerModalLabel"
  aria-hidden="true" #modalForm>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- fix the modal title -->
        <h5 class="modal-title" id="PlannerModalLabel" *ngIf="!editMode">Add Planner</h5>
        <h5 class="modal-title" id="PlannerModalLabel" *ngIf="editMode">Edit Planner</h5>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Start here -->
        <!-- WARD NAME -->
        <div class="form-group">
          <label for="exampleInputEmail1">Ward name</label>
          <input type="text" class="form-control" placeholder="Ward name" min="1" required #wardName
            [(ngModel)]="onePlanner.wardName">
        </div>
        <!-- PRESIDING -->
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Presiding</label>
          <input type="text" class="form-control" placeholder="First name" min="1" required
            #presidingFirstName [ngModel]="planner?.presiding.firstName">
          <input type="text" class="form-control" placeholder="Last name" min="1" required #presidingLastName
            [ngModel]="planner?.presiding.lastName">
          <input type="text" class="form-control" placeholder="Member title" min="1" required #presidingTitle
            [ngModel]="planner?.presiding.memberTitle">
        </div> -->

        <div class="form-group">
          <label for="presiding">Presiding</label>
          <select class="form-control" id="presiding">
            <option value="0">==== Select Presiding ====</option>
            <option *ngFor="let member of members" [value]="member.id">{{member.firstName}} {{member.lastName}}</option>
          </select>
        </div>

        <!-- CONDUCTING -->
        <div class="form-group">
          <label for="conducting">Conducting</label>
          <select class="form-control" id="conducting">
            <option value="0">==== Select Conducting ====</option>
            <option *ngFor="let member of members" [value]="member.id">{{member.firstName}} {{member.lastName}}</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Conducting</label>
          <input type="text" class="form-control" placeholder="First name" min="1" required
            #conductingFirstName [ngModel]="planner?.conducting.firstName">
          <input type="text" class="form-control" placeholder="Last name" min="1" required #conductingLastName
            [ngModel]="planner?.conducting.lastName">
          <input type="text" class="form-control" placeholder="Member title" min="1" required #conductingTitle
            [ngModel]="planner?.conducting.memberTitle">
        </div> -->

        <!-- OPENING HYMN -->
        <div class="form-group">
          <label for="exampleInputEmail1">Opening hymn</label>
          <select class="form-control" id="openingHymn">
            <option value="0">==== Select Opening Hymn ====</option>
            <option *ngFor="let hymn of hymns" [value]="hymn.id">#{{hymn.hymnNumber}} - {{hymn.title}}</option>
          </select>
          <!-- <input type="text" class="form-control" placeholder="Hymn title" min="1" required #openingHymnTitle
            [ngModel]="planner?.openingHymn.title">
          <input type="text" class="form-control" placeholder="Hymn number" min="1" required #openingHymnNumber
            [ngModel]="planner?.openingHymn.hymnNumber"> -->
        </div>

        <!-- INVOCATION -->
        <div class="form-group">
          <label for="exampleInputEmail1">Invocation</label>
          <select class="form-control" id="conducting">
            <option value="0">==== Select Invocation ====</option>
            <option *ngFor="let member of members" [value]="member.id">{{member.firstName}} {{member.lastName}}</option>
          </select>
          <!-- <label for="conducting">Presiding</label> -->
          <!-- <input type="text" class="form-control" placeholder="First name" min="1" required
            #invocationFirstName [ngModel]="planner?.invocation.firstName">
          <input type="text" class="form-control" placeholder="Last name" min="1" required #invocationLastName
            [ngModel]="planner?.invocation.lastName">
          <input type="text" class="form-control" placeholder="Member title" min="1" required #invocationTitle
            [ngModel]="planner?.invocation.memberTitle"> -->
        </div>

        <!-- WARD BUSINESS -->
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Ward name</label>
          <input type="text" class="form-control" placeholder="Enter ward name" min="1" required
            #wardName [ngModel]="planner?.wardName">
        </div> -->

        <!-- SACRAMENT HYMN -->
        <div class="form-group">
          <label for="exampleInputEmail1">Sacrament hymn</label>
          <select class="form-control" id="sacramentHymn">
            <option value="0">==== Select Sacrament Hymn ====</option>
            <option *ngFor="let hymn of hymns" [value]="hymn.id">#{{hymn.hymnNumber}} - {{hymn.title}}</option>
          </select>
        </div>

        <!-- SACRAMENT PASSING -->
        <div class="form-group">
          <label for="exampleInputEmail1">Sacrament passing</label>
          <input type="text" class="form-control" placeholder="Passing sacrament?" min="1" required #sacramentPassing
            [(ngModel)]="onePlanner.sacramentPassing">
        </div>

        <!-- TALKS -->
        <!-- <label for="speaker">Talk</label> -->

        <!-- <div class="form-group" *ngFor="let talk of planner.talks">
          <select class="form-control" id="speaker">
            <option value="0">==== Select Speaker ====</option>
            <option *ngFor="let member of members" [value]="member.id">{{member.firstName}} {{member.lastName}}</option>
          </select>
        </div>

        <button class="btn btn-danger" (click)="addTalk()">Add talk</button> -->

        <!-- error is somewhere here -->
        <!-- <div class="form-group" *ngFor="let talk of planner.talks">
          <label for="exampleInputEmail1">Talk</label>
          <input type="text" class="form-control" placeholder="Talk title" min="1" required #talkTitle
            [ngModel]="talk.talkTitle">
          <input type="text" class="form-control" placeholder="Talk first name" min="1" required
            #talkFirstName [ngModel]="talk.speaker.firstName">
          <input type="text" class="form-control" placeholder="Talk last name" min="1" required #talkLastName
            [ngModel]="talk.speaker.lastName">
          <input type="text" class="form-control" placeholder="Talk time limit" min="1" required #talkLimit
            [ngModel]="talk.timeLimit">
        </div> -->

        <!-- MUSICAL NUMBER -->
        <!-- HAVE A TROUBLE WITH THIS -->
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Musical number</label>
          <input type="text" class="form-control" placeholder="Musical number title" min="1" required
            #musicalNumberTitle [(ngModel)]="onePlanner.musicalNumber.title">
          <input type="text" class="form-control" placeholder="Perfomed after talk #" min="1" required #afterTalk
            [(ngModel)]="onePlanner.musicalNumber.performAfterTalk">
        </div> -->

        <!-- CLOSING HYMN -->
        <div class="form-group">
          <label for="exampleInputEmail1">Closing hymn</label>
          <select class="form-control" id="closingHymn">
            <option value="0">==== Select Closing Hymn ====</option>
            <option *ngFor="let hymn of hymns" [value]="hymn.id">#{{hymn.hymnNumber}} - {{hymn.title}}</option>
          </select>
        </div>

        <!-- BENEDICTION -->
        <div class="form-group">
          <label for="exampleInputEmail1">Benediction</label>
          <select class="form-control" id="conducting">
            <option value="0">==== Select Benediction ====</option>
            <option *ngFor="let member of members" [value]="member.id">{{member.firstName}} {{member.lastName}}</option>
          </select>
          <!-- <input type="text" class="form-control" placeholder="First name" min="1" required
            #benedictionFirstName [ngModel]="planner?.benediction.firstName">
          <input type="text" class="form-control" placeholder="Last name" min="1" required
            #benedictionLastName [ngModel]="planner?.benediction.lastName">
          <input type="text" class="form-control" placeholder="Member title" min="1" required
            #benedictionTitle [ngModel]="planner?.benediction.memberTitle"> -->
        </div>

        <!-- DISMISSAL SONG -->
        <div class="form-group">
          <label for="exampleInputEmail1">Dismissal song</label>
          <select class="form-control" id="dismissalSong">
            <option value="0">==== Select Dismissal Song ====</option>
            <option *ngFor="let hymn of hymns" [value]="hymn.id">#{{hymn.hymnNumber}} - {{hymn.title}}</option>
          </select>
          <!-- <input type="text" class="form-control" placeholder="Dismissal song title" min="1" required
            #dismissalSongTitle [ngModel]="planner?.dismissalSong.title">
          <input type="text" class="form-control" placeholder="Dismissal song number" min="1" required
            #dismissalSongHymnNumber [ngModel]="planner?.dismissalSong.hymnNumber"> -->
        </div>

        <!-- SACRAMENT DATE -->
        <div class="form-group">
          <label for="exampleInputEmail1">Sacrament date</label>
          <input type="date" class="form-control" placeholder="Enter sacrament meeting date" min="1" required #wardName
            [(ngModel)]="onePlanner.sacramentDate">
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="create({lastName: lastName.value, firstName: firstName.value,
          memberTitle: memberTitle.value}); hideModal()" *ngIf="!editMode">Save changes</button>
        <button type="button" class="btn btn-primary" (click)="edit(); hideModal()" *ngIf="editMode">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
