@page
@model MegaDesk_3._0.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>QuoteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelQuote.Width" class="control-label"></label>
                <input asp-for="ModelQuote.Width" class="form-control" />
                <span asp-validation-for="ModelQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelQuote.Depth" class="control-label"></label>
                <input asp-for="ModelQuote.Depth" class="form-control" />
                <span asp-validation-for="ModelQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelQuote.Drawers" class="control-label"></label>
                <input asp-for="ModelQuote.Drawers" class="form-control" />
                <span asp-validation-for="ModelQuote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelQuote.Rush" class="control-label"></label>
                <input asp-for="ModelQuote.Rush" class="form-control" />
                <span asp-validation-for="ModelQuote.Rush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelQuote.Name" class="control-label"></label>
                <input asp-for="ModelQuote.Name" class="form-control" />
                <span asp-validation-for="ModelQuote.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelQuote.MaterialType" class="control-label"></label>
                <select asp-for="ModelQuote.MaterialType" asp-items="Model.MaterialTypes" class="form-control"></select>
                <span asp-validation-for="ModelQuote.MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
