@page
@model MegaDesk_3._0.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>QuoteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuoteModel.ID" />
            <input type="hidden" asp-for="QuoteModel.Date" />
            <div class="form-group">
                <label asp-for="QuoteModel.Name" class="control-label"></label>
                <input asp-for="QuoteModel.Name" class="form-control" placeholder="Enter your name ..." />
                <span asp-validation-for="QuoteModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Width" class="control-label"></label>
                <input asp-for="QuoteModel.Width" class="form-control" type="number" min="24" max="96" value="24" />
                <span asp-validation-for="QuoteModel.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Depth" class="control-label"></label>
                <input asp-for="QuoteModel.Depth" class="form-control" type="number" min="12" max="48" value="12" />
                <span asp-validation-for="QuoteModel.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Drawers" class="control-label"></label>
                <input asp-for="QuoteModel.Drawers" class="form-control" type="number" min="0" max="7" value="0" />
                <span asp-validation-for="QuoteModel.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Rush" class="control-label"></label>
                <select class="form-control" asp-for="QuoteModel.Rush">
                    <option value="14">14</option>
                    <option value="7">7</option>
                    <option value="5">5</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="QuoteModel.Rush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.MaterialType" class="control-label"></label>
                <select asp-for="QuoteModel.MaterialType" asp-items="Model.Materials" class="form-control"></select>
                <span asp-validation-for="QuoteModel.MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
